<h1>lulalala address tokenizer 中文地址分析</h1>

<p>
  <a href="https://github.com/lulalala/lulalala_address_tokenizer">lulalala_address_tokenizer</a> 是一個 Ruby gem ，做中文地址分詞用。<br>
  理論上也能套用其他語言的模型做分詞。
</p>

<%=
  form_for :address, routes.parse_path, method:'GET' do
    text_field :address, placeholder: "地址", style:'width: 70%'

    submit '分析'
  end
%>

<h2>運作原理</h2>
<p>
  本網站使用由<a href="https://wapiti.limsi.fr/">Wapiti</a>訓練出來的模型做地址分詞。背後的原理請見<a href="https://zh.wikipedia.org/wiki/%E6%A2%9D%E4%BB%B6%E9%9A%A8%E6%A9%9F%E5%9F%9F">條件隨機域</a>。Wapiti 是個 C 的程式庫，所以有 C 的接口也能使用這裡的地址模型。<br>
</p>

<p>
訓練資料主要來自<a href="http://www.openstreetmap.org">OpenStreetMap</a>
  ，約有一萬五千筆。
</p>

<p>
</p>

<h2>訓練好的模型檔</h2>
<ul>
  <li><a href="models/2016-11-20.mod">2016-11-20</a></li>
</ul>
