<h1>分詞結果</h1>

<dl class="dl-horizontal">
  <% result.each do |key, value| %>
    <dt><%= ::ATTRIBUTE_NAMES_IN_CHINESE[key.to_sym] %></dt>
    <dd><%= value %></dd>
  <% end %>
</dl>

<div class="alert alert-info">
  如果分詞有錯，請告訴我們正確的地址：<br>
  ＊在街道後面的文字目前一律視為號碼，因為沒有這些比較沒有標準，所以目前不算是錯誤。
</div>

<%=
  form_for :address, routes.report_path do
    div class:'form-group row' do
      label '完整地址', for: :full, class:'col-sm-1 col-form-label'
      div class:'col-sm-11' do
        text_field :full, class: 'form-control'
      end
    end

    ::ATTRIBUTE_NAMES_IN_CHINESE.each do |attr, chinese|
      div class:'form-group row' do
        label chinese, for: attr, class:'col-sm-1 col-form-label'
        div class:'col-sm-11' do
          text_field attr, class: 'form-control'
        end
      end
    end

    submit '送出', class:'btn btn-default'
  end
%>
