<!DOCTYPE html>
<html>
  <head>
    <title>中文地址分析</title>
    <%= stylesheet 'bootstrap' %>
    <%= javascript 'bootstrap' %>
    <%= favicon %>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Lulalala Address Tokenizer</a>
        </div>
        <!--<div id="navbar" class="collapse navbar-collapse">-->
          <!--<ul class="nav navbar-nav">-->
            <!--<li class="active"><a href="/"></a></li>-->
          <!--</ul>-->
        <!--</div>-->
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>

    <nav class="navbar navbar-bottom" style="padding:0 0 120px 0">
      <div class="container">
        <div class="row">
          <hr>
          網站框架 <a href="http://hanamirb.org/">Hanami</a> |
          Gem 是使用 <a href="https://github.com/inukshuk/wapiti-ruby">wapiti-ruby</a> 製作 |
          MIT Licenced |
          <a href="https://twitter.com/lulalala_it">Twitter</a>
        </div>
      </div>
    </nav>
  </body>
</html>
